<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body{% if page.url == '/' %} class="home"{% elsif page.schema_type == 'ScholarlyArticle' %} class="paper-page"{% endif %}>
    {% include header.html %}

    <div class="content-wrapper">
      {% assign main_content = content | strip %}
      {% unless main_content == '' %}
      <main class="content-wrapper__inner" id="main-content">
        {{ content }}
      </main>
      {% endunless %}

      {% include footer.html %}
    </div>
  </body>
</html>
